// Mobile: 375px
// Desktop: 1440px

$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$button-color-light: hsl(0,0,97%);

$font-size-primary: 18px;
$font-size-secondary: 13px;
$font-size-mobile-primary: 30px;
$font-size-mobile-secondary: 15px;
$button-font-size: 14px;

$font-color-primary: $very-dark-blue;
$font-color-secondary: $grayish-blue;
$font-weight-regular: 400;
$font-weight-medium: 500;


$primary-color: $soft-blue;
$secondary-color: $soft-red;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size-mobile-secondary;
    font-family: 'Rubik', sans-serif;
}

.nav {
    width: 100%;
    padding: 40px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 311px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }

    &__logo {
        width: 147px;
        height: 25px;
    }

    &__menu-icon {
        width: 18px;
        height: 15px;
    }
}

.header {
    padding-top: 12px;

    &__image-container {
        position: relative;
        height: 281px;
        width: 100%;
        overflow: hidden;

    }

    &__image {
        position: absolute;
        width: 334px;
        height: 247px;
        bottom: 12px;
        right: 12px;
        z-index: 20;
    }

    &__oval-graphic {
        position: absolute;
        width: 577px;
        height: 203px;
        bottom: 0;
        left: 71px;
        z-index: 10;
        background-color: $primary-color;
        border-radius: 316px;
    }

    &__text-and-buttons-container {
        margin-top: 48px;
    }

    &__title {
        font-size: $font-size-mobile-primary;
        color: $font-color-primary;
        font-weight: $font-weight-medium;
        line-height: 40px;
        letter-spacing: -0.09px;
        text-align: center;
        padding: 0 20px;
    }
    
    &__desc {
        margin-top: 16px;
        font-size: $font-size-mobile-secondary;
        color: $font-color-secondary;
        font-weight: $font-weight-regular;
        line-height: 25px;
        text-align: center;
        padding: 0 42px;
    }

    &__buttons-wrapper {
        display: flex;
        justify-content: center;
        padding-top: 32px;
    }

    &__button {
        height: 48px;
        margin: 0 7px;
        border: none;
        border-radius: 5px;
        font-size: $button-font-size;
        font-weight: $font-weight-medium;
        letter-spacing: 0.25px;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        
        &--primary {
            width: 151px;
            background-color: $primary-color;
            color: white;
        }
        &--secondary {
            width: 146px;
            color: $very-dark-blue;
            background-color: $button-color-light;
        }
    }
}

.attribution {
    font-size: 11px; text-align: center;

    a { color: hsl(228, 45%, 44%); }
}